<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>trustedshops</name>
            <displayName><![CDATA[Trusted Shops Vertrauensl&ouml;sungen]]></displayName>
            <version><![CDATA[2.2.3]]></version>
            <description><![CDATA[St&auml;rken Sie das Vertrauen in Ihren Online-Shop mit Trusted Shops G&uuml;tesiegel, K&auml;uferschutz und Kundenbewertung.]]></description>
            <author><![CDATA[silbersaiten]]></author>
            <tab><![CDATA[payment_security]]></tab>
	<confirmUninstall>Sie sind sicher, dass Sie alle Ihre Einstellungen löschen möchten?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>